.logo {
  text-align: center;
  background: url("../src/PawfectDelights.jpg");
  height: 220px;
  width: 220px;
  background-color: blue;
  border: 3px double black;
}

.motto {
  text-align: center;
  height: 120px;
  display: flex;
  width: 1100px;
  align-items: center;
  font-size: 70px;
  background-color: limegreen;
  margin-top: 50px;
  justify-content: center;
  border: black;
  font-style: oblique;
  font-family: Comic, sans-serif;
  border: 8px dotted white;
}

.whowearebody {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 1000px;
  height: 950px;
  margin-left: 300px;
  margin-top: 100px;
  background-color: white;
  border: 5px solid black
}

.leftbar {
  background-color: grey;
  width: 420px;
  height: 1220px;
  border-right: 15px solid black;
    justify-content: center;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.leftinfo {
  background-color: white;
  width: 100px;
  height: 150px;
  display: flex;
}

.tab {
  color: white;
  font-size: 50px;
    text-decoration: none;
}

.top {
  display: flex;
  justify-content: space-around;
  background-color: grey;
  background-image: url("../src/dogs2.jpg");
}

.body {
  font-size: 40px;
  height: 1220px;
  display: flex;
    background-image: url("../src/pawpaper.jpg");

}

.bodyhome {
  display: flex;
      background-image: url("../src/pawpaper.jpg");

}

.productbody {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 1000px;
  height: 950px;
  margin-left: 300px;
  margin-top: 100px;
  background-color: white;
  border: 5px solid black;
}

.block {
  width: 150px;
  height: 200px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  margin: 30px;

}

.body-contactus {
  font-size: 40px;
  height: 700px;
  width: 1250px;
  background: url("../src/pawfectbusinesscard.jpg");
  justify-content: center;
  display: flex;
}

.footer {
  background-color: black;
  font-size: 40px;
  color: white;
  height: 200px;
display: flex;
border-top: 9px solid limegreen;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-around;
  border: 5px solid limegreen;
}


